<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/news.css" />
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/news.js"></script>
<title>News</title>
</head>

<body>

    <div class="news news-font">
    test0
        <div>test1</div>
        <div>test2</div>   
        <div>test3</div>
        <div>test4</div>    
    </div>

</body>
</html>